<%- include('partials/head') %>

  <body>
    <%- include('partials/nav') %>
      <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-xl">

        <h2 class="text-xl text-gray-800 font-bold text-center ">Oops! Page Not Found.</h2>
        <main class="w-full">
          <div class="flex flex-col items-center justify-center h-screen space-y-2">
            
            <a href="/user" class="bg-red-500 hover:bg-red-600 text-black font-semibold py-2 px-4 rounded">
              Return to Home
            </a>
          </div>
        
        
          </main>


      </main>
  </body>